@mixin inline-block($alignment: none) {
    display: inline-block;
    @if $alignment and $alignment != none {
        vertical-align: $alignment; 
    }
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.blsl-container {
    @include inline-block;
    position: relative;
}
.blsl-search, .blsl-options {
    display: none;
}
.blsl-options {
    position: absolute;
    top: 20px;
    left: 0;
}